html {
    background: #e6e4e7;
    background-image: url( COLOURlovers.png);
        
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 1em 7em 7em;
}
td {
    align-content: center;
}
h1 {
    padding-top: 0em;
    text-align: center;
    font-size: 300%;
    color: cadetblue;
    font-weight: 900;
    line-height: 1.3;
}
h2 {
    padding-left: 1em;
    font-size:140%;
    color: cadetblue;
    font-weight: 700;
    line-height: 1.3;
}

h4 {
    text-align: center;
}
h3, h4, h5, h6 {
    text-indent: inherit;
    font-size: 150%;
    color: cadetblue;
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}
a {
    color: #0083e8;
    font-size: 180%;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}


img {
    background: transparent;
    display: block;
    margin: auto;
    width: 200;
    height: 90;
    padding: 25px;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}